.promo {
  max-width: 768px;
  padding: 27px 20px 0;
  background-color: #68B738;
  text-align: center;
}
.promo__title{
  margin: 0 auto 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #fff;
  max-width: 250px;
  text-align: center;

}
.promo__description{
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #fff;
  max-width: 198px;
  text-align: center;
}
